.catalog-extra {
   &__title {
      --line-h: clamp(1.5rem, 0.964rem + 2.68vw, 2.25rem); // 24px/320 - 36px/720

      position: relative;
      margin-bottom: 34px;
      color: var(--clr-black);
      font-weight: 400;
      font-size: clamp(1.5rem, 0.964rem + 2.68vw, 2.25rem); // 24px/320 - 36px/720
      font-family: var(--font-oswald);
      line-height: var(--line-h);
      background-color: var(--clr-white);
      transform-style: preserve-3d;

      @include media-500 {
         margin-bottom: 80px;
      }

      @media (min-width: 800px) {
         margin-bottom: 81px;
      }

      &_green-line {
         max-width: 20ch;
         padding-right: 20px;

         @include media-500 {
            max-width: calc(20ch + clamp(1.25rem, 0.357rem + 4.46vw, 2.5rem));
            padding-left: clamp(1.25rem, 0.357rem + 4.46vw, 2.5rem); // 20px/320 - 40px/768
         }

         @include media-1024 {
            max-width: 20ch;
            padding-left: 0;
         }

         &::before,
         &::after {
            position: absolute;
            top: calc(var(--line-h) / 1.6); // 1.6 - uppercase letter/x-height ratio, just to set the green line in the middle of lowercase letters
            left: 0;
            height: 2px;
            background-color: var(--clr-basic-green);
            transform: translateZ(-1px);
            content: "";
         }

         &::before {
            right: 0;

            @include media-500 {
               left: -10vw;
            }

            @include media-1024 {
               right: calc(100% + 30px);
            }
         }

         &::after {
            right: -100vw;
         }
      }
   }

   &__container {
      @include media-1440 {
         display: grid;
         grid-template-rows: 1fr;
         grid-template-columns: minmax(896px, 1fr) minmax(245px, 1fr);
         gap: 79px;
      }
   }

   &__list {
      margin-bottom: 39px;

      @media (min-width: 500px) and (max-width: 799px) {
         margin-bottom: 69px;
      }
   }

   &__gift {
      display: flex;
      flex-direction: column;
      gap: 48px;
      align-items: center;
      min-width: 245px;
      height: 289px;
      padding: 58px 59px 43px;
      color: var(--clr-white);
      font-size: 16px;
      font-family: Arial, sans-serif;
      line-height: 20px;
      text-align: center;
      background-color: var(--clr-basic-green);
      background-image: url("@img/background/gift-cat-mobile.jpg");
      background-repeat: no-repeat;
      background-size: cover;

      @include media-500 {
         background-image: url("@img/background/gift-cat-tablet.jpg");
      }

      @media (min-width: 500px) and (max-width: 799px) {
         flex-direction: row;
         height: 200px;
         padding: 20px;
         padding-left: clamp(2.5rem, -1.931rem + 14.18vw, 4.875rem); // 20px/500 - 78px/768
         text-align: left;
      }

      @include media-1440 {
         height: 289px;
         background-image: url("@img/background/gift-cat-desktop.jpg");
         padding-inline: 30px;
      }

      &::before {
         height: 80px;
         aspect-ratio: 1/1;
         background-image: url("@img/icons/icons.svg#gift-icon");
         background-repeat: no-repeat;
         background-size: contain;
         content: "";

         @media (min-width: 500px) and (max-width: 799px) {
            margin-right: clamp(3.75rem, -14.324rem + 57.84vw, 13.438rem); // 60px/500 - 215px/768
         }
      }
   }
}

.extra-list {
   &__item {
      --border: 1px solid var(--clr-border-medium-grey);

      display: flex;
      flex-direction: column;
      gap: 14px;
      margin-bottom: 17px;
      padding-top: 13px;
      border-top: var(--border);

      &:last-of-type {
         padding-bottom: 17px;
         border-bottom: var(--border);
      }

      @include media-500 {
         flex-direction: row;
         flex-wrap: wrap;
         row-gap: 25px;
         margin-bottom: 0;
         padding: 28px 37px 25px;
         border-top: var(--border);
         border-inline: var(--border);

         &:last-of-type {
            padding-bottom: 25px;
         }
      }

      @media (min-width: 800px) {
         flex-wrap: nowrap;
         align-items: center;
         padding: 15px 0;
         column-gap: 40px;
         border-inline: none;
         row-gap: initial;
      }
   }

   &__title {
      color: var(--clr-text-dark-grey);
      font-weight: 400;
      font-size: clamp(1rem, 0.821rem + 0.89vw, 1.25rem); // 16px/320 - 20px/768
      font-family: var(--font-oswald);
      line-height: clamp(1rem, 0.821rem + 0.89vw, 1.25rem); // 16px/320 - 20px/768
      text-transform: uppercase;

      @include media-500 {
         max-width: 40%;
      }
   }

   &__data {
      display: grid;
      grid-template-columns: 1fr min-content;
      gap: 20px;
      color: var(--clr-text-medium-grey);
      font-size: clamp(0.875rem, 0.786rem + 0.45vw, 1rem); // 14px/320 - 16px/768
      font-family: Arial, sans-serif;
      line-height: clamp(0.875rem, 0.607rem + 1.34vw, 1.25rem); // 14px/320 - 20px/768

      @include media-500 {
         gap: 49px;
         max-width: 60%;
         margin-left: auto;
      }

      @media (min-width: 800px) {
         min-width: 250px;
         margin-left: auto;
      }

      @include media-1024 {
         min-width: 290px;
      }
   }

   &:has(.extra-list__value_short) {}

   &__value {
      @include media-1440 {
         &_short {
            padding-right: 1ch;
         }
      }
   }

   &__link {
      @media (min-width: 500px) and (max-width: 799px) {
         flex-basis: 100%;
      }

      @media (min-width: 800px) {
         flex-basis: auto;
         min-width: 150px;
      }

      @include media-1024 {
         min-width: 244px;
      }
   }
}