.catalog-main {
   @include media-768 {
      padding-top: 35px;
   }

   @include media-1440 {
      padding-top: 43px;
   }

   &__title {
      margin-bottom: 39px;

      @include media-768 {
         margin-bottom: 79px;
      }
   }

   &__food-catalog {
      margin-bottom: 25px;

      @include media-500 {
         margin-bottom: 68px;
      }

      @include media-1024 {
         margin-bottom: 76px;
      }
   }

   &__catalog-extra {
      margin-bottom: 35px;

      @include media-500 {
         margin-bottom: 76px;
      }

      @include media-1024 {
         margin-bottom: 40px;
      }
   }
}