.page-footer {
   &__contacts {
      padding-top: 28px;

      @include media-630 {
         padding-top: 66px;
      }
   }

   &__socials-box {}
}

.contacts {
   position: relative;
   isolation: isolate;

   @include media-1024 {
      min-height: 400px;
      padding-top: 95px;
      padding-left: 110px;
   }

   &__address-box {
      display: flex;
      margin-bottom: 26px;

      // 20px/320 - 71px/768
      padding-inline: clamp(1.25rem, -1.027rem + 11.38vw, 4.438rem);

      @include media-500 {
         align-items: center;
      }

      @include media-630 {
         padding-bottom: 29px;
      }

      @include media-1024 {
         width: 570px;
         padding: 66px 76px 59px;
         background-color: var(--clr-white);
      }
   }

   &__text {
      min-width: 140px;
      max-width: 16ch;
      color: var(--clr-text-dark);

      // 16px/320 - 20px/768
      font-size: clamp(1rem, 0.821rem + 0.89vw, 1.25rem);
      font-family: var(--font-oswald);

      // 18px/320 - 26px/768
      line-height: clamp(1.125rem, 0.768rem + 1.79vw, 1.625rem);
      text-transform: uppercase;
   }

   &__address {
      max-width: 19ch;
      margin-left: auto;
      color: var(--clr-text-medium-grey);
      font-size: clamp(0.875rem, 0.786rem + 0.45vw, 1rem); // 14px/320p - 16px/768
      font-family: Arial, sans-serif;
      font-style: normal;
      line-height: 20px;

      @include media-500 {
         text-align: right;

         &>span {
            display: block;
            margin-top: 20px;
         }
      }

      @include media-1024 {
         text-align: left;
      }
   }

   &__map {
      @include media-630 {
         height: 400px;
      }

      @include media-1024 {
         position: absolute;
         inset: 0;
         z-index: -1;
      }

      &>picture {
         z-index: -2;
         width: 100%;
         height: inherit;
      }
   }

   &__map-img {
      width: 100%;
      height: inherit;
      object-fit: cover;
   }
}

.socials-box {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 35px;
   padding-bottom: 22px;
   background-color: var(--clr-basic-grey);

   @include media-630 {
      flex-direction: row;
      padding-top: 55px;
      padding-bottom: 51px;
   }

   @include media-1024 {
      padding-top: 60px;
   }

   &__logo {
      margin-bottom: 26px;

      @include media-630 {
         margin-bottom: 0;
      }
   }

   &__socials-list {
      margin-bottom: 21px;

      @include media-630 {
         margin-bottom: 0;
         margin-inline: auto;
      }
   }
}

.logo-title {
   min-width: 135px;

   &:focus-visible {
      outline: 2px solid var(--clr-text-medium-grey);
      outline-offset: 2px;
   }

   @include media-768 {
      transform: translateX(-4px);
   }

   &__img {
      width: 135px;
   }
}

.socials-list {
   --border: 1px solid var(--clr-border-socials);

   display: flex;
   gap: 32px;
   justify-content: center;
   width: 100%;
   border-top: var(--border);
   border-bottom: var(--border);
   padding-block: 21px 20px;

   @include media-630 {
      --border: none;

      gap: initial;
      padding-bottom: 10px;
      padding-left: 20px;
      padding-block: 0;
   }

   &__item {
      width: 22px;
      height: 22px;
      background-image: var(--soc-icon);
      background-repeat: no-repeat;
      background-position: center;
      background-size: var(--width) var(--height);
      transition: background var(--hover-transition);

      @include media-630 {
         width: 29px;
         height: 29px;
      }

      &:active {
         opacity: var(--opacity-action);
      }

      & a {
         display: block;
         width: 100%;
         height: 100%;

         &:focus-visible {
            outline: 2px solid var(--clr-text-medium-grey);
            outline-offset: 2px;
         }
      }

      &_vk {
         --soc-icon: url("@img/icons/icons.svg#vk");
         --width: 100%;
         --height: 16px;

         @include media-630 {
            --height: 29px;
            --width: 29px;
         }

         @include hover {
            &:hover {
               --soc-icon: url("@img/icons/icons.svg#vk-clr");
            }
         }
      }

      &_inst {
         --soc-icon: url("@img/icons/icons.svg#inst");
         --width: 16px;
         --height: 16px;

         @include media-630 {
            --width: 23px;
            --height: 23px;

            margin-left: 25px;
         }

         @include hover {
            &:hover {
               --soc-icon: url("@img/icons/icons.svg#inst-clr");
            }
         }
      }

      &_fb {
         --soc-icon: url("@img/icons/icons.svg#fb");
         --width: 22px;
         --height: 22px;

         @include media-630 {
            --width: 29px;
            --height: 29px;

            margin-left: 19px;
         }

         @include hover {
            &:hover {
               --soc-icon: url("@img/icons/icons.svg#fb-clr");
            }
         }
      }
   }
}

.link-academy {
   display: flex;
   align-items: center;
   justify-content: start;
   width: 100%;

   &:focus-visible {
      outline: 2px solid var(--clr-text-medium-grey);
      outline-offset: 2px;
   }

   @include media-630 {
      gap: 22px;
      justify-content: end;
      max-width: 163px;
   }

   &>span {
      color: var(--clr-text-medium-grey);
      font-size: 16px;
      font-family: Arial, sans-serif;
      line-height: 18px;
      text-transform: none;
   }

   @include hover {
      &:hover .socials-box__academy-img img {
         opacity: 0;
      }
   }

   &:active {
      opacity: var(--opacity-action);
   }

   &__img {
      display: grid;
      margin-left: auto;
      place-items: center;

      @include media-630 {
         margin-left: 0;
      }

      & img {
         grid-area: 1/-1;
         transition: opacity var(--hover-transition);
      }

      &::before {
         grid-area: 1/-1;
         width: 27px;
         height: 34px;
         background: url("@img/icons/icons.svg#html-academy") center / cover no-repeat;
         content: "";
      }
   }
}