.page-header {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: start;
   padding-top: 11px;
   padding-bottom: 14px;
   background-color: var(--clr-white);

   @include media-768 {
      padding-top: 27px;
      padding-bottom: 0;
   }

   @include media-1024 {
      padding-top: 55px;
      background-color: transparent;
   }

   &__logo_mobile {
      margin-left: auto;
      padding-top: 9px;

      @include hover {
         &:hover {
            opacity: 0.8;
         }
      }

      &:focus-visible {
         outline: 2px solid var(--clr-text-medium-grey);
         outline-offset: 2px;
      }

      &:active {
         opacity: 0.6;
      }

      @include media-768 {
         display: none;
      }

      & img {
         transform: translateX(-4px);
      }
   }

   &__nav {
      margin-left: auto;
   }
}

.logo {
   display: flex;
   align-items: center;
   justify-content: start;

   @include hover {
      &:hover {
         opacity: 0.8;
      }
   }

   &:focus-visible {
      outline: 2px solid var(--clr-text-medium-grey);
      outline-offset: 2px;
   }

   &:active {
      opacity: 0.6;
   }

   &__img {
      @include media-768 {
         margin-right: 7px;
      }
   }

   &__title {
      display: none;

      @include media-768 {
         display: initial;
         width: 111px;
      }

      @include media-1024 {
         width: 131px;
      }
   }
}

.burger {
   position: relative;
   width: 24px;
   height: 16px;
   margin-left: auto;
   background-color: transparent;
   border: none;
   transition: transform var(--hover-transition);

   &:focus-visible {
      outline: 2px solid var(--clr-text-medium-grey);
      outline-offset: 2px;
   }

   @include media-768 {
      display: none;
   }

   &::before,
   &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 2px;
      background-color: var(--clr-black);
      transform: translate(-50%) rotate(calc(var(--_rotate, 1) * 45deg)) scale(var(--_scale, 0));
      transition: transform var(--hover-transition);
      content: "";
   }

   &::after {
      --_rotate: -1;
   }

   &-bar {
      --black-bar: linear-gradient(180deg, var(--clr-black) 0 0);
      --bar-size: auto 2px no-repeat;

      display: block;
      width: 100%;
      height: 100%;
      background:
         var(--black-bar) top / var(--bar-size),
         var(--black-bar) center / var(--bar-size),
         var(--black-bar) bottom / var(--bar-size);
      transform: scale(var(--_shrink, 100%));
      transition: transform var(--hover-transition);
   }
}

.main-nav {
   position: absolute;
   top: 65px;
   left: 0;
   z-index: 2;
   width: 100%;
   min-height: 193px;
   background-color: var(--clr-white);
   transform: scale(var(--_expand, 0));
   transform-origin: 93vw -15%;
   opacity: var(--_expand, 0);
   transition: transform var(--hover-transition), opacity var(--hover-transition);
   will-change: transform;

   @include media-768 {
      --_expand: 1;

      position: static;
      z-index: initial;
      width: initial;
      min-height: initial;
      margin-left: auto;
   }

   @include media-1024 {
      background-color: transparent;
   }

   &__list {
      display: flex;
      flex-direction: column;
      justify-content: start;
      width: 100%;
      height: 100%;

      @include media-768 {
         flex-direction: row;
         gap: 35px;
      }
   }

   &__item {
      font-weight: 500;
      font-size: 20px;
      font-family: var(--font-oswald);
      line-height: 20px;
      text-align: center;
      text-transform: uppercase;
      border-top: 1px solid var(--clr-border-light-grey);

      @include media-768 {
         font-weight: 400;

         // 18px/768 - 20px/1440
         font-size: clamp(1.125rem, 0.982rem + 0.3vw, 1.25rem);

         // 20px/768 - 30px/1440
         line-height: clamp(1.25rem, 0.536rem + 1.49vw, 1.875rem);
         border-top: none;
         padding-block: 12px;

         @include hover {
            &:hover {
               opacity: 0.6;
            }
         }

         &:active {
            opacity: var(--opacity-action);
         }
      }

      @include media-1024 {
         padding-block: 4px;
      }

      &_active {
         border-bottom: 2px solid transparent;

         @include media-768 {
            border-bottom-color: var(--clr-basic-green);
         }
      }

      & a {
         display: block;
         width: 100%;
         padding: 22px;

         @include media-768 {
            padding: 0;
         }
      }
   }

   .index-item-active {
      @include media-1024 {
         border-bottom-color: var(--clr-white);
      }
   }
}
