.hero {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: start;
   padding-top: 27px;
   background: linear-gradient(var(--clr-green-transparent) 0 0) top / auto 302px no-repeat, url(@img/background/cat-hero-mobile.jpg) 65% top / auto 302px no-repeat;

   @include media-500 {
      background: var(--clr-white);
   }

   &__title {
      margin-bottom: 25px;
   }

   &__slogan {
      margin-bottom: 30px;
      color: var(--clr-white);

      // 14px/320 - 20px/768
      font-size: clamp(0.875rem, 0.607rem + 1.34vw, 1.25rem);
      font-family: var(--font-oswald);

      // 14px/320 - 20px/768
      line-height: clamp(0.875rem, 0.607rem + 1.34vw, 1.25rem);
      text-align: center;
      text-transform: uppercase;

      @include media-500 {
         color: var(--clr-black);
         text-align: left;
      }
   }

   &__img {
      display: block;
      margin-bottom: 2px;
      object-fit: contain;
   }

   &__link {
      @include media-500 {
         min-width: 244px;
      }
   }
}