.form-main {
   &__title {
      margin-bottom: 37px;
   }
}

.programm-form {
   &__header {
      margin-bottom: 39px;
   }

   &__descr {
      color: var(--clr-black);

      // 14px/320 - 20px/768
      font-size: clamp(0.875rem, 0.607rem + 1.34vw, 1.25rem);
      font-family: var(--font-oswald);

      // 18px/320 - 30px/768
      line-height: clamp(1.125rem, 0.589rem + 2.68vw, 1.875rem);
      text-transform: uppercase;
   }

   &__page-form {}
}

.page-form {
   & fieldset {
      border: none;
   }

   &__pet {}

   &__programm-type {}

   &__form-contacts {}

   &__comment {}

   &__additional {}

   &__btn-wrap {}
}

.form-inner {}

.form-fieldset {
   &__element {}

   &__legend {}

   &__textarea {}
}

.form-legend {
   // 26px/320 - 36px/720
   --line-h: clamp(1.625rem, 1.179rem + 2.23vw, 2.25rem);

   position: relative;
   color: var(--clr-black);

   // 24px/320 - 36px/720
   font-size: clamp(1.5rem, 0.964rem + 2.68vw, 2.25rem);
   font-family: var(--font-oswald);
   line-height: var(--line-h);
   background-color: var(--clr-white);
   transform-style: preserve-3d;
   padding-inline: 0;

   &_green-line {
      // 205px/320 - 245px/768
      // ...a "magic number" just to keep the green-line right next to a text content
      max-width: clamp(12.813rem, 8.91rem + 19.51vw, 15.313rem);
      padding-right: 20px;

      @include media-525 {
         max-width: none;
      }

      &::before,
      &::after {
         position: absolute;
         top: calc(var(--line-h) / 1.6); // 1.6 - capital / x-height ratio
         left: 0;
         height: 2px;
         background-color: var(--clr-basic-green);
         transform: translateZ(-1px);
         content: "";
      }

      &::before {
         right: calc(100% + var(--_right-offset, 30px));

         @include media-500 {
            left: -10vw;
         }

         @include media-768 {
            --_right-offset: 39px;
         }

         @include media-1440 {
            --_right-offset: 40px;
         }
      }

      &::after {
         right: -100vw;
      }
   }
}
