.results {
   padding-top: 27px;
   padding-bottom: 36px;
   background-color: var(--clr-basic-medium-grey);

   @include media-768 {
      padding-top: 43px;
      padding-bottom: 66px;
      background-image: linear-gradient(180deg, var(--clr-white) 0 var(--_gradient-white-size, 57%), var(--clr-basic-medium-grey) 0);
      background-repeat: no-repeat;
      background-size: cover;

      @include media-1024 {
         --_gradient-white-size: 19%;

         display: grid;
         grid-template-columns: 1fr 1fr;
         padding-top: 0;
      }

      @include media-1440 {
         --_gradient-white-size: 29%;
      }
   }

   &__inner {
      margin-bottom: 5px;

      @include media-1024 {
         max-width: 450px;
         margin-bottom: 0;
      }

      @include media-1440 {
         padding-top: 55px;
      }
   }

   &__title {
      margin-bottom: 33px;

      @include media-768 {
         margin-bottom: 65px;
      }

      @include media-1440 {
         margin-bottom: 148px;
      }
   }

   &__text {
      margin-bottom: 25px;

      @include media-768 {
         margin-bottom: 52px;
      }

      @include media-1024 {
         margin-bottom: 69px;
      }
   }

   &__data-container {}

   &__comparison {
      @include media-1024 {
         max-width: 500px;
      }

      @include media-1440 {
         max-width: none;
      }
   }

   &__picture {
      display: grid;
      margin-bottom: 30px;

      @include media-768 {
         margin-bottom: 12px;
      }

      @include media-1024 {
         margin-bottom: 29px;
      }

      &>picture {
         grid-area: 1/-1;
      }
   }

   &__img {
      object-fit: contain;

      @include media-630 {
         height: 519px;
      }

      @include media-1024 {
         height: 390px;
      }

      @include media-1440 {
         height: 519px;
      }

      &_fat {
         margin-top: 40px;
         transform: scale(var(--_scale, 1.11));
         opacity: var(--_opacity, 1);
         transition: opacity 0.4s ease-in;

         @include media-630 {
            --_scale: 1;

            position: relative;
            width: 100%;
            margin-top: 70px;
            -webkit-mask-image: linear-gradient(to right, #000 var(--_mask-width, var(--_base-mask-width, 50%)), #0000 0);
            mask-image: linear-gradient(to right, #000 var(--_mask-width, var(--_base-mask-width, 50%)), #0000 0);
         }

         @include media-1024 {
            --_base-mask-width: 53%;

            margin-top: 0;
            object-fit: cover;
         }
      }

      &_skinny {
         opacity: var(--_opacity, 0);
         transition: opacity 0.4s ease-in;

         @include media-630 {
            width: 100%;
            margin-top: 70px;
            padding-left: 50px;
            opacity: initial;
            -webkit-mask-image: linear-gradient(to left, #000 var(--_mask-width, var(--_base-mask-width, 50%)), #0000 0);
            mask-image: linear-gradient(to left, #000 var(--_mask-width, var(--_base-mask-width, 50%)), #0000 0);
         }

         @include media-1024 {
            --_base-mask-width: 47%;

            margin-top: 0;
            padding-left: 38px;
         }
      }
   }

   &__controls {
      @include media-1024 {
         margin-left: 40px;
      }
   }
}

.cat-img-controls {

   &__btn-box,
   &__slider-box {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 18px;
   }

   & span {
      color: var(--clr-black);
      font-size: clamp(1rem, 0.821rem + 0.89vw, 1.25rem); // 16px/320 - 20px/768
      font-family: var(--font-oswald);
      line-height: clamp(1.25rem, 0.804rem + 2.23vw, 1.875rem); // 20px/320 - 30px/768
      text-transform: uppercase;
   }

   &__btn-box {
      &>span {
         @include media-630 {
            display: none;
         }
      }
   }

   &__slider-box {
      &>span {
         display: none;
         padding-bottom: 3px;
         border-bottom: 1px dotted rgb(0 0 0 / 24%);

         @include media-630 {
            display: initial;
         }
      }

      @include hover {
         &:hover>span {
            border-bottom: 1px solid rgb(0 0 0 / 40%);
         }

         &:active>span {
            border-bottom: none;
         }
      }
   }

   &__btn {
      --inline-padding: 5px;
      --block-padding: 3px;

      position: relative;
      width: 84px;
      height: 14px;
      background-color: var(--clr-white);
      border: 1px solid var(--clr-border-medium-grey);
      border-radius: 6px;

      &:focus-visible {
         outline: 2px solid var(--clr-text-medium-grey);
         outline-offset: 5px;
      }

      &::before {
         --central-gap: 1px;

         position: absolute;
         top: var(--block-padding);
         right: calc(50% + var(--central-gap));
         bottom: var(--block-padding);
         left: var(--inline-padding);
         background-color: var(--clr-basic-green);
         border-radius: inherit;
         transform: translateX(calc(var(--_active, 0) * (100% + var(--central-gap) * 2)));
         transition: transform 0.4s ease-in;
         content: "";
      }

      @include media-630 {
         display: none;
      }
   }

   &__range-slider {
      display: none;

      &:focus-visible {
         outline: 2px solid var(--clr-text-medium-grey);
         outline-offset: 15px;
      }

      @include media-630 {
         display: block;
         width: 435px;
         height: 6px;
         background-color: var(--clr-border-medium-grey);
         border-radius: 6px;
         appearance: none;

         &::-webkit-slider-thumb {
            width: 34px;
            background: radial-gradient(circle at center, var(--clr-basic-green) 4px, var(--clr-white) 4px) no-repeat;
            border: 1px solid var(--clr-border-medium-grey);
            border-radius: 100vmax;
            box-shadow: 0 1px 3px rgb(0 0 0 / 16%);
            appearance: none;
            aspect-ratio: 1/1;

            &:hover:active {
               border-color: var(--clr-basic-green);
               box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
            }

            @include hover {
               &:hover {
                  box-shadow: 0 2px 4px rgb(0 0 0 / 19%);
               }
            }
         }

         &::-moz-range-thumb {
            box-sizing: inherit;
            width: 34px;
            height: 34px;
            background: radial-gradient(circle at center, var(--clr-basic-green) 4px, var(--clr-white) 4px) no-repeat;
            border: 1px solid var(--clr-border-medium-grey);
            border-radius: 100vmax;
            box-shadow: 0 1px 3px rgb(0 0 0 / 16%);
            appearance: none;
            aspect-ratio: 1/1;

            &:hover:active {
               border-color: var(--clr-basic-green);
               box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
            }

            @include hover {
               &:hover {
                  box-shadow: 0 2px 4px rgb(0 0 0 / 19%);
               }
            }
         }
      }
   }
}

.data-container {
   --row-gap: 19px;
   --col-gap: 31px;
   --width: 124px;

   display: grid;
   row-gap: var(--row-gap);

   @include media-630 {
      --col-gap: 42px;
      --width: 162px;

      grid-template-columns: calc((var(--width) * 2) + var(--col-gap)) 1fr;
   }

   @include media-1024 {
      --row-gap: 55px;

      grid-template-columns: auto;
   }

   &__list {
      display: grid;
      grid-auto-rows: 1fr;
      grid-template-columns: repeat(auto-fit, minmax(var(--width), 1fr));
      gap: var(--row-gap) var(--col-gap);
      place-items: center;

      @include media-1024 {
         grid-template-columns: repeat(2, var(--width));
      }
   }

   &__element {
      --font-descr-size: 14px;

      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: var(--width);
      height: 100%;
      min-height: 72px;
      padding-top: var(--_padding, 14px);
      isolation: isolate;
      padding-inline: 10px;

      &::after {
         position: absolute;
         top: 0;
         bottom: var(--font-descr-size);
         left: 0;
         z-index: -1;
         width: var(--width);
         border: 1px solid var(--clr-border-medium-grey);
         border-radius: 3px;
         content: "";

         @include media-630 {
            bottom: calc(var(--font-descr-size) * 0.5);
         }
      }

      &_borderless {
         flex-direction: row;
         justify-self: center;
         min-width: fit-content;
         min-height: auto;
         padding: 0;
         column-gap: 3px;

         &::after {
            display: none;
         }

         @include media-630 {
            flex-direction: column;
            align-items: end;
            align-self: center;
            justify-content: center;
            justify-self: end;
            row-gap: 10px;
         }

         @include media-768 {
            --_font-price-size: 20px;
         }

         @include media-1024 {
            flex-direction: row;
            justify-content: start;
            justify-self: start;
            column-gap: 63px;
         }
      }

      @include media-768 {
         --_font-num-size: 30px;
         --font-descr-size: 14px;
         --_padding: 19px;
      }
   }

   &__num {
      --margin: 9px;

      margin-bottom: var(--margin);
      color: var(--clr-black);
      font-size: var(--_font-num-size, 24px);
      font-family: var(--font-oswald);
      line-height: var(--_font-num-size, 24px);
      text-align: center;
      text-transform: uppercase;

      &_reverse {
         order: -1;
      }

      @include media-768 {
         --margin: 15px;
      }
   }

   &__descr {
      --padding: 15px;

      max-width: min-content;
      color: var(--clr-text-medium-grey);
      font-size: var(--font-descr-size);
      font-family: Arial, sans-serif;
      line-height: var(--font-descr-size);
      text-align: center;
      background-color: var(--clr-basic-medium-grey);
      padding-inline: var(--padding);

      @include media-630 {
         --padding: 6px;

         max-width: max-content;
      }

      @include media-768 {
         background-color: var(--clr-white);
      }

      @include media-1024 {
         background-color: var(--clr-basic-medium-grey);
      }
   }

   &__expense {
      color: var(--clr-black);
      font-weight: 400;
      font-size: var(--_font-price-size, 14px);
      font-family: var(--font-oswald);
      font-style: normal;
      line-height: 20px;
      text-transform: uppercase;
   }

   &__price {
      color: var(--clr-black);
      font-weight: 400;
      font-size: var(--_font-price-size, 14px);
      font-family: var(--font-oswald);
      font-style: normal;
      line-height: 20px;
      text-transform: uppercase;
   }
}