.results {
   padding-top: 27px;
   padding-bottom: 36px;
   background-color: var(--clr-basic-medium-grey);

   &__inner {
      margin-bottom: 5px;
   }

   &__title {
      margin-bottom: 33px;
   }

   &__text {
      margin-bottom: 25px;
   }

   &__desc-list {}

   &__comparison {}

   &__picture {
      display: grid;
      margin-bottom: 30px;

      & picture {
         grid-area: 1/-1;

         & img {
            object-fit: contain;

            @media (min-width: 630px) {
               height: 520px;
            }
         }
      }
   }

   &__fat-img {
      margin-top: 40px;
      transform: scale(var(--_scale, 1.11));
      opacity: var(--_opacity, 1);
      transition: opacity 0.4s ease-in;

      @media (min-width: 630px) {
         --_scale: 1;

         position: relative;
         width: 100%;
         margin-top: 70px;
         -webkit-mask-image: linear-gradient(to right, #000 var(--_mask-width, 50%), #0000 0);
         mask-image: linear-gradient(to right, #000 (--_mask-width, 50%), #0000 0);
      }
   }

   &__skinny-img {
      opacity: var(--_opacity, 0);
      transition: opacity 0.4s ease-in;

      @media (min-width: 630px) {
         width: 100%;
         margin-top: 70px;
         padding-left: 50px;
         opacity: initial;
         -webkit-mask-image: linear-gradient(to left, #000 var(--_mask-width, 50%), #0000 0);
         mask-image: linear-gradient(to left, #000 var(--_mask-width, 50%), #0000 0);
      }
   }

   &__controls {}
}

.cat-img-controls {

   &__btn-box,
   &__slider-box {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 18px;
   }

   & span {
      color: var(--clr-black);
      font-weight: 400;
      font-size: 16px;
      font-family: var(--font-oswald);
      font-style: normal;
      line-height: 20px;
      text-transform: uppercase;
   }

   &__btn-box {
      &>span {
         @media (min-width: 630px) {
            display: none;
         }
      }
   }

   &__slider-box {
      &>span {
         display: none;
         padding-bottom: 3px;
         border-bottom: 1px dotted rgb(0 0 0 / 24%);

         @media (min-width: 630px) {
            display: initial;
         }
      }

      @include hover {
         &:hover>span {
            border-bottom: 1px solid rgb(0 0 0 / 40%);
         }

         &:active>span {
            border-bottom: none;
         }
      }
   }

   &__btn {
      --inline-padding: 5px;
      --block-padding: 3px;

      position: relative;
      width: 84px;
      height: 14px;
      background-color: var(--clr-white);
      border: 1px solid var(--clr-border-medium-grey);
      border-radius: 6px;

      &::before {
         --central-gap: 1px;

         position: absolute;
         top: var(--block-padding);
         right: calc(50% + var(--central-gap));
         bottom: var(--block-padding);
         left: var(--inline-padding);
         background-color: var(--clr-basic-green);
         border-radius: inherit;
         transform: translateX(calc(var(--_active, 0) * (100% + var(--central-gap) * 2)));
         transition: transform 0.4s ease-in;
         content: "";
      }

      @media (min-width: 630px) {
         display: none;
      }
   }

   &__range-slider {
      display: none;

      @media (min-width: 630px) {
         display: block;
         width: 428px;
         height: 6px;
         background-color: var(--clr-border-medium-grey);
         border-radius: 6px;
         appearance: none;

         &::-webkit-slider-thumb {
            width: 34px;
            background: radial-gradient(circle at center, var(--clr-basic-green) 4px, var(--clr-white) 4px) no-repeat;
            border: 1px solid var(--clr-border-medium-grey);
            border-radius: 100vmax;
            box-shadow: 0 1px 3px rgb(0 0 0 / 16%);
            appearance: none;
            aspect-ratio: 1/1;

            &:hover:active {
               border-color: var(--clr-basic-green);
               box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
            }

            @include hover {
               &:hover {
                  box-shadow: 0 2px 4px rgb(0 0 0 / 19%);
               }
            }
         }

         &::-moz-range-thumb {
            box-sizing: inherit;
            width: 34px;
            height: 34px;
            background: radial-gradient(circle at center, var(--clr-basic-green) 4px, var(--clr-white) 4px) no-repeat;
            border: 1px solid var(--clr-border-medium-grey);
            border-radius: 100vmax;
            box-shadow: 0 1px 3px rgb(0 0 0 / 16%);
            appearance: none;
            aspect-ratio: 1/1;

            &:hover:active {
               border-color: var(--clr-basic-green);
               box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
            }

            @include hover {
               &:hover {
                  box-shadow: 0 2px 4px rgb(0 0 0 / 19%);
               }
            }
         }
      }
   }
}

.data-list {
   --row-gap: 19px;
   --col-gap: 31px;
   --width: 124px;

   display: grid;
   row-gap: var(--row-gap);

   @media (min-width: 630px) {
      --col-gap: 42px;
      --width: 162px;

      grid-template-columns: calc((var(--width) * 2) + var(--col-gap)) 1fr;
   }

   &__container {
      display: grid;
      grid-auto-rows: 1fr;
      grid-template-columns: repeat(auto-fit, minmax(var(--width), 1fr));
      gap: var(--row-gap) var(--col-gap);
      place-items: center;
   }

   &__element {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: var(--width);
      height: 100%;
      padding-inline: 10px;
      padding-top: var(--_padding, 14px);
      isolation: isolate;

      &::after {
         position: absolute;
         top: 0;
         bottom: 20%;
         z-index: -1;
         width: var(--width);
         min-height: 56px;
         border: 1px solid var(--clr-border-medium-grey);
         border-radius: 3px;
         content: "";

         @media (min-width: 768px) {
            min-height: 72px;
         }
      }

      &_borderless {
         flex-direction: row;
         justify-self: center;
         min-width: fit-content;
         padding: 0;
         column-gap: 3px;

         &::after {
            display: none;
         }

         @media (min-width: 630px) {
            flex-direction: column;
            align-items: end;
            align-self: center;
            justify-content: center;
            justify-self: end;
            row-gap: 10px;
         }

         @media (min-width: 768px) {
            --_font-price-size: 20px;
         }
      }

      @media (min-width: 768px) {
         --_font-num-size: 30px;
         --_font-descr-size: 14px;
         --_padding: 19px;
      }
   }

   &__num {
      --margin: 9px;

      margin-top: auto;
      margin-bottom: var(--margin);
      color: var(--clr-black);
      font-size: var(--_font-num-size, 24px);
      font-family: var(--font-oswald);
      line-height: var(--_font-num-size, 24px);
      text-align: center;
      text-transform: uppercase;

      &_reverse {
         order: -1;
      }

      @media (min-width: 768px) {
         --margin: 15px;
      }
   }

   &__descr {
      --padding: 15px;

      max-width: min-content;
      margin-top: auto;
      color: var(--clr-text-medium-grey);
      font-size: var(--_font-descr-size, 12px);
      font-family: Arial, sans-serif;
      line-height: var(--_font-descr-size, 12px);
      text-align: center;
      background-color: var(--clr-basic-medium-grey);
      padding-inline: var(--padding);

      @media (min-width: 630px) {
         --padding: 7px;

         max-width: max-content;
      }
   }

   &__expense {
      color: var(--clr-black);
      font-weight: 400;
      font-size: var(--_font-price-size, 14px);
      font-family: var(--font-oswald);
      font-style: normal;
      line-height: 20px;
      text-transform: uppercase;
   }

   &__price {
      color: var(--clr-black);
      font-weight: 400;
      font-size: var(--_font-price-size, 14px);
      font-family: var(--font-oswald);
      font-style: normal;
      line-height: 20px;
      text-transform: uppercase;
   }
}
