.services {
   padding-top: 22px;

   @include media-1024 {
      padding-top: 82px;
   }
}

.service-list {
   display: grid;
   grid-auto-rows: 1fr;
   gap: clamp(1.25rem, 0.804rem + 2.23vw, 1.875rem); // 20px/320 - 30px/768

   @include media-768 {
      gap: clamp(1.875rem, -1.696rem + 7.44vw, 5rem); // 30px/768 - 80px/1440
   }

   @include media-1024 {
      grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
   }

   &__item {}
}

.service-item {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: start;
   height: 100%;
   min-height: 266px;
   padding: 22px;
   background-color: var(--clr-basic-grey);

   @include media-630 {
      padding: 62px 41% 46px 43px;
      background-image: var(--cat);
      background-repeat: no-repeat;
      background-position: var(--x) 50%;
      background-size: var(--width);
   }

   @include media-768 {
      min-height: 372px;
      padding: 77px 40% 57px 53px;
   }

   @include media-1024 {
      min-height: 374px;
      padding: 43px 52px 59px;
      background-image: none;
   }

   &_slim {
      --cat: url("@img/icons/icons.svg#slimm-cat-icon");
      --width: 160px;
      --x: 88%;

      @include media-768 {
         --width: 200px;
      }
   }

   &_muscle {
      --cat: url("@img/icons/icons.svg#muscle-cat-icon");
      --width: 215px;
      --x: 94%;

      @include media-768 {
         --width: 268px;
      }
   }

   &__subtitle {
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 22px;

      @include media-630 {
         margin-bottom: 24px;
      }

      @include media-1024 {
         margin-bottom: 39px;
      }

      &::before {
         min-width: var(--_w, 67px);
         min-height: var(--_h, 53px);
         margin-right: var(--_margin, 1px);
         background-image: var(--cat);
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
         transform: translateX(var(--_x-offset, -9px));
         content: "";

         @include media-630 {
            display: none;
         }

         @include media-1024 {
            display: block;
            min-width: var(--_w, 134px);
            min-height: var(--_h, 106px);
            margin-right: var(--_margin, 27px);
            transform: translateX(var(--_x-offset, -18px));
         }
      }

      &_slim {
         --_w: 50px;
         --_h: 53px;
         --_margin: 19px;
         --_x-offset: 0;

         @include media-1024 {
            --_w: 100px;
            --_h: 106px;
            --_margin: clamp(3.313rem, 1.928rem + 2.16vw, 3.875rem); // 53px/1024 - 62px/1440
         }
      }

      &_muscle {
         --_w: 67px;
         --_h: 50px;

         @include media-1024 {
            --_w: 134px;
            --_h: 106px;
            --_margin: 28px;
         }
      }
   }

   &__descr {
      padding-bottom: 10px;
   }

   &__link {
      display: flex;
      align-items: center;
      width: 100%;
      margin-top: auto;
      padding-top: 19px;
      color: var(--clr-black);
      font-weight: 400;
      font-size: clamp(1rem, 0.821rem + 0.89vw, 1.25rem); // 16px/320 - 20px/768
      line-height: clamp(1rem, 0.375rem + 3.13vw, 1.875rem); // 16px/320 - 30px/768
      text-align: left;
      border-top: 1px solid var(--clr-border-medium-grey);

      @include media-630 {
         justify-content: space-between;
         width: auto;
         border-top: none;
      }

      @include media-1024 {
         padding-top: 14px;
      }

      & span {
         margin-right: 14px;

         @include media-630 {
            margin-right: 25px;
         }
      }

      & :where(line, path) {
         transition: transform var(--hover-transition);
      }

      @include hover {
         &:hover line {
            transform: scaleX(calc(26 / 18));
         }

         &:hover path {
            transform: translateX(8px);
         }
      }
   }
}
