.hero {
   &__title {}

   &__slogan {
      // color: var(--clr-white);
      font-size: 14px;
      font-family: var(--font-oswald);
      line-height: 14px;
      text-align: center;
      text-transform: uppercase;
   }

   &__img {}

   &__link {}
}

.index-main {
   &__hero {}
}
