html {
   font-size: 16px;
}

.page-body {
   height: 100%;
   background-color: var(--clr-white);

   &__header {
      margin-bottom: 27px;

      @media (max-width: 500px) {
         border-bottom: 1px solid var(--clr-border-socials);
      }
   }
}

.page-wrapper {
   display: grid;
   grid-template-rows: min-content 1fr min-content;
   max-width: 1440px;
   min-height: 100vh;
   margin-inline: auto;
   overflow-x: hidden;
}

.pad-wrapper {
   // clamp generator 20px/320 - 30px/768
   padding-inline: clamp(1.25rem, 0.804rem + 2.23vw, 1.875rem);

   @include media-768 {
      padding-inline: clamp(1.875rem, -3.839rem + 11.9vw, 6.875rem); // 30px/768 - 110px/1440
   }

   &_form {
      padding-inline: clamp(1.25rem, -0.982rem + 11.16vw, 4.375rem); // 20px/320 - 70px/768

      @include media-768 {
         padding-inline: clamp(4.375rem, 1.518rem + 5.95vw, 6.875rem); // 70px/768 - 110px/1440
      }
   }
}

.link {
   display: block;
   color: var(--clr-black);
   font-family: var(--font-oswald);
   text-align: center;
   text-transform: uppercase;

   &:focus-visible {
      outline: 2px solid var(--clr-text-medium-grey);
   }

   &_green-box {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      color: var(--clr-white);
      font-size: 16px;
      font-family: var(--font-oswald);
      line-height: 20px;
      background-color: var(--clr-basic-green);

      @include hover {
         &:hover {
            background-color: var(--clr-dark-green);
         }
      }

      &:active {
         background-color: var(--clr-dark-green);
      }

      &:active span {
         opacity: var(--opacity-action);
      }
   }
      &_grey-box {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      color: var(--clr-text-medium-grey);
      font-size: 16px;
      font-family: var(--font-oswald);
      line-height: 20px;
      background-color: var(--clr-basic-grey);

      @include hover {
         &:hover {
            background-color: var(--clr-border-light-grey);
         }
      }

      &:active {
         background-color: var(--clr-border-light-grey);
      }

      &:active span {
         opacity: var(--opacity-action);
      }
   }


   &_big-font {
      padding: 11px 26px;
      font-size: clamp(0.875rem, 0.607rem + 1.34vw, 1.25rem); // 14px/320 - 20px/768
      line-height: clamp(1.125rem, 1.036rem + 0.45vw, 1.25rem); // 18px/320 - 20px/768
   }

   &_big-padding {
      padding: 10px 26px;
   }

   &_white {
      @include media-1024 {
         color: var(--clr-white);
      }
   }
}

.page-title {
   color: var(--clr-black);
   font-weight: 400;
   font-size: clamp(2.25rem, 1.179rem + 5.36vw, 3.75rem); // 36px/320 - 60px/768
   font-family: var(--font-oswald);
   line-height: clamp(2.25rem, 1.179rem + 5.36vw, 3.75rem); // 36px/320 - 60px/768

   &_white {
      color: var(--clr-white);
      text-align: center;

      @include media-500 {
         color: var(--clr-black);
         text-align: left;
      }
   }
}

.subtitle {
   color: var(--clr-black);
   font-weight: 400;
   font-size: clamp(1.5rem, 0.964rem + 2.68vw, 2.25rem); // 24px/320 - 36px/768
   font-family: var(--font-oswald);
   line-height: 37px;
   text-transform: uppercase;
}

.text {
   color: var(--clr-text-medium-grey);
   font-weight: 400;
   font-size: clamp(0.875rem, 0.786rem + 0.45vw, 1rem); // 14px/320 - 16px/768
   font-family: Arial, sans-serif;
   font-style: normal;
   line-height: clamp(1.125rem, 0.857rem + 1.34vw, 1.5rem); // 18px/320 - 24px/768
}

.title {
   color: var(--clr-black);
   font-weight: 400;
   font-size: clamp(2.25rem, 1.179rem + 5.36vw, 3.75rem); // 36px/320 - 60px/768
   font-family: var(--font-oswald);
   line-height: clamp(2.5rem, 1.607rem + 4.46vw, 3.75rem); // 40px/320 - 60px/768
}

.label-box {
   --width: clamp(1.875rem, 1.429rem + 2.23vw, 2.5rem); // 30px/320 - 40px/768
   --gap: 16px;
   --pseudo-elem-border: 1px solid var(--clr-border-medium-grey);

   display: flex;
   gap: var(--gap);
   align-items: center;
   justify-content: start;

   &:has(.label-box__descr) {
      --gap: 9px;
   }

   &_radio {
      --clr-stop: clamp(0.438rem, 0.348rem + 0.45vw, 0.563rem); // 7px/320 - 9px/768

      &::before {
         min-width: var(--width);
         background-image: var(--active-img);
         background-repeat: no-repeat;
         background-position: center;
         border: var(--pseudo-elem-border);
         border-radius: 100vmax;
         content: "";
         aspect-ratio: 1/1;
      }
   }

   &_checkbox {
      &::before {
         width: var(--width);
         background-image: var(--active-img);
         background-repeat: no-repeat;
         background-position: center;
         background-size: 18px;
         border: var(--pseudo-elem-border);
         content: "";
         aspect-ratio: 1/1;
      }
   }

   @include hover {

      &:hover.label-box_radio::before,
      &:hover.label-box_checkbox::before {
         border-color: #bababa;
      }
   }

   &__descr {
      min-width: 100px;
   }

   &__input {
      position: relative;
      flex-grow: 1;
      height: 45px;
      padding: 14px;
      padding-top: 18px;
      color: var(--clr-text-medium-grey);
      font-size: var(--font-size-small);
      font-family: var(--font-oswald);
      line-height: var(--font-height-small);
      background: var(--input-bg-img) right var(--bg-right-offset) center/ var(--bg-x-size) var(--bg-y-size) no-repeat;
      border: 1px solid var(--clr-border-light-grey);
      border-radius: 0;
      outline: none;

      @include media-768 {
         height: 52px;
      }

      &_mail {
         --input-bg-img: url("@img/icons/icons.svg#mail");
         --bg-x-size: 18px;
         --bg-y-size: 13px;
         --bg-right-offset: 16px;

         &:invalid:not(:focus-visible, :placeholder-shown) {
            --input-bg-img: url("@img/icons/icons.svg#mail-invalid");
         }

         &:valid:not(:focus-visible) {
            --input-bg-img: url("@img/icons/icons.svg#mail-valid");
         }
      }

      &_phone {
         --input-bg-img: url("@img/icons/icons.svg#phone");
         --bg-x-size: 20px;
         --bg-y-size: 20px;
         --bg-right-offset: 13px;

         &:invalid:not(:focus-visible, :placeholder-shown) {
            --input-bg-img: url("@img/icons/icons.svg#phone-invalid");
         }

         &:valid:not(:focus-visible) {
            --input-bg-img: url("@img/icons/icons.svg#phone-valid");
         }
      }

      &::placeholder {
         color: var(--clr-text-medium-grey);
         font-size: var(--font-size-small);
         font-family: var(--font-oswald);
         line-height: var(--font-height-small);
         text-transform: uppercase;
      }

      &:focus-visible {
         outline: 2px solid var(--clr-text-medium-grey);
      }

      &:invalid:not(:focus-visible, :placeholder-shown) {
         border-color: var(--clr-error);
         border-width: 2px;
      }

      &:valid:not(:focus-visible) {
         border-color: var(--clr-basic-green);
         border-width: 2px;
      }

      @include hover {
         &:hover:is(:invalid, :valid) {
            border-color: #bababa;
         }
      }
   }
}

input:checked+.label-box_radio {
   --active-img: radial-gradient(at center, var(--clr-basic-green) var(--clr-stop), #0000 0);
}

input:checked+.label-box_checkbox {
   --active-img: url("@img/icons/icons.svg#check-mark");
}

input:focus-visible+.label-box_radio,
input:focus-visible+.label-box_checkbox {
   outline: 2px solid var(--clr-text-medium-grey);
   outline-offset: 2px;
}

.textarea {
   position: relative;
   width: 100%;
   height: 150px;
   padding: 9px 12px;
   color: var(--clr-text-medium-grey);
   font-size: var(--font-size-small);
   font-family: var(--font-oswald);
   line-height: var(--font-height-small);
   border: 1px solid var(--clr-border-light-grey);
   border-radius: 0;
   outline: none;
   resize: none;

   &::placeholder {
      color: var(--clr-text-medium-grey);
      font-size: var(--font-size-small);
      font-family: var(--font-oswald);
      line-height: var(--font-height-small);
      text-transform: uppercase;
   }

   @include hover {
      &:hover {
         border-color: #bababa;
      }
   }

   &:focus-visible {
      outline: 2px solid var(--clr-text-medium-grey);
   }

   @include media-768 {
      height: 174px;
   }
}

.form-description {
   color: var(--clr-text-medium-grey);
   font-size: var(--font-size-small);
   font-family: var(--font-oswald);
   line-height: var(--font-height-small);
   text-transform: uppercase;

   &_black {
      color: var(--clr-text-dark-grey);
   }
}

.btn {
   color: var(--clr-black);
   font-size: 16px;
   font-family: var(--font-oswald);
   line-height: 20px;
   text-transform: uppercase;
   background-color: transparent;
   border: none;

   &_green-box {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      color: var(--clr-white);
      font-size: var(--font-size-small);
      line-height: clamp(1.25rem, 0.804rem + 2.23vw, 1.875rem); // 20px/320 - 30px/768
      background-color: var(--clr-basic-green);

      @include hover {
         &:hover {
            background-color: var(--clr-dark-green);
         }
      }

      &:active {
         background-color: var(--clr-dark-green);
      }
   }

   &:focus-visible {
      outline: 2px solid var(--clr-text-medium-grey);
      outline-offset: 2px;
   }

   &:active span {
      opacity: var(--opacity-action);
   }
}
