.page-body {
   background-color: var(--clr-white);
}

.page-wrapper {
   max-width: 1440px;
   margin-inline: auto;
}

.pad-wrapper {
   // clamp generator 10px/320 - 30px/768
   padding-inline: clamp(1.25rem, 0.804rem + 2.23vw, 1.875rem);

   @include media-768 {
      // clamp generator 30px/768 - 110px/1440
      padding-inline: clamp(1.875rem, -3.839rem + 11.9vw, 6.875rem);
   }
}

.link {
   display: block;
   width: fit-content;
   color: var(--clr-black);
   font-family: var(--font-oswald);
   text-align: center;
   text-transform: uppercase;

   &_green-box {
      padding: 11px 26px;
      color: var(--clr-white);
      font-size: 14px;
      font-family: var(--font-oswald);
      line-height: 18px;
      background-color: var(--clr-basic-green);

      @include hover {
         &:hover {
            background-color: var(--clr-dark-green);
         }
      }

      &:active {
         background-color: var(--clr-dark-green);
      }

      &:active span {
         opacity: var(--opacity-action);
      }
   }
}

.page-title {
   color: var(--clr-black);
   font-weight: 400;

   // 36px/320 - 60px/768
   font-size: clamp(2.25rem, 1.179rem + 5.36vw, 3.75rem);
   font-family: var(--font-oswald);

   // 36px/320 - 60px/768
   line-height: clamp(2.25rem, 1.179rem + 5.36vw, 3.75rem);

   &_white {
      color: var(--clr-white);
      text-align: center;

      @include media-500 {
         color: var(--clr-black);
         text-align: left;
      }
   }
}

.subtitle {
   color: var(--clr-black);
   font-weight: 400;
   font-size: 24px;
   font-family: var(--font-oswald);
   line-height: 37px;
   text-transform: uppercase;
}

.text {
   color: var(--clr-text-medium-grey);
   font-weight: 400;
   font-size: 14px;
   font-family: Arial, sans-serif;
   font-style: normal;
   line-height: 18px;
}

.title {
   color: var(--clr-black);
   font-weight: 400;
   font-size: 36px;
   font-family: var(--font-oswald);
   line-height: 40px;
}