:root {
   /* stylelint-disable-line */

   --clr-white: #fff;
   --clr-black: #000;
   --clr-basic-green: #68b738;
   --clr-dark-green: #5eaa2f;
   --clr-error: #ff8282;
   --clr-basic-grey: #f2f2f2;
   --clr-basic-medium-grey: #eaeaea;
   --clr-green-transparent: hsl(97deg 53% 47% / 85%);

   --clr-border-light-grey: #ebebeb;
   --clr-border-medium-grey: #cdcdcd;
   --clr-border-socials: #d9d9d9;
   
   --clr-text-dark-grey: #222;
   --clr-text-medium-grey: #444;
   --clr-text-dark: #111;

   --hover-transition: 0.25s ease-out;
   --opacity-action: 0.3;

   --font-oswald: oswald, arial, sans-serif;
   // 18px/320 - 30px/768
   --font-height-small: clamp(1.125rem, 0.589rem + 2.68vw, 1.875rem);
   // 16px/320 - 20px/768
   --font-size-small: clamp(1rem, 0.821rem + 0.89vw, 1.25rem);

   /* stylelint-disable-line */
}
