:root {
   --clr-white: #fff;
   --clr-black: #000;
   --clr-basic-green: #68b738;
   --clr-dark-green: #5eaa2f;
   --clr-error: #ff8282;
   --clr-basic-grey: #f2f2f2;
   --clr-basic-medium-grey: #eaeaea;
   --clr-border-light-grey: #ebebeb;
   --clr-border-medium-grey: #cdcdcd;
   --clr-text-dark-grey: #222;
   --clr-text-medium-grey: #444;
   --clr-text-dark: #111;
   --clr-border-socials: #d9d9d9;
   --clr-green-transparent: hsl(97deg 53% 47% / 85%);
   --hover-transition: 0.25s ease-out;
   --opacity-action: 0.3;
   --font-oswald: oswald, arial, sans-serif;
}